# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Django
db.sqlite3
*.log
logs/
media/
staticfiles/
*.pid

# Environment
.env
*.env

# IDE
.vscode/
.idea/
*.swp
*.swo